.user {
	&-background {
		&-dark {
			background : linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/background.png");
		}
		background-image: url("/background.png");
		background-repeat : no-repeat;
		background-size : cover;
	}
	nav {
		@apply min-h-[100px];
		.menubutton {
			@apply inline-flex items-center p-2 text-sm text-gray-300 rounded-lg md:hidden 
			hover:bg-black hover:ring-1 hover:ring-gray-500 focus:bg-black focus:ring-1 focus:ring-gray-500;
		}
		.menubox {
			@apply w-full md:flex md:w-auto text-white font-semibold;
			overflow-y: hidden;
			transition: all .3s;
		}
	}
	input{
		@apply w-full h-[40px] bg-gray-500 text-xs sm:text-sm
		focus:outline-none focus:border-blue-300 focus:ring-1 focus:ring-blue-300
		disabled:bg-gray-100 disabled:text-gray-500 disabled:border-gray-300 disabled:shadow-none
		invalid:border-red invalid:text-red
		focus:invalid:border-red focus:invalid:ring-red;
	}
	.container {
		min-height: calc(100% - 150px);
	}
	.card {
		@apply bg-card rounded text-white flex flex-col border border-gray-500;
	}
	.contact {
		z-index: 100;
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		transition: all .5s;
		img {
			transform: rotate( 270deg );
			transition: all .7s;
		}
		&[aria-expanded="true"] {
			right: -13rem;
			img {
				transform: rotate( 90deg );
				transition: all .7s;
			}
		}
		.contact-bg {
			@apply bg-black rounded-full flex border border-gray-500;
		 	padding: 0.4rem 0.6rem;
		}
		p {
			@apply text-sm text-gray-200 my-auto;
		}
		.icon {
			@apply flex mx-2;
			a {
				transition: .3s;
				@apply block text-white h-fit my-auto;
				&:hover {
					@apply text-blue-150;
				}
			}
		}
	}
}
